<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Transactions_account</h2>

        <form action="" method="POST">
            {% csrf_token %}

            <label for="acc">Account Number :</label>
            <input type="number" name="acc" id="acc">
            <br><br>
            <label for="money">How Much money we can Transfer :</label>
            <input type="number" name="money" id="money"><br><br>

            <input type="submit" value="submit">

            <br><br>

             <a href="{% url 'Home' %}">Back To User</a>
           

        </form>

    </center>
</body>
</html>